[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.4.0"
keras-tuner = "==1.0.2"
Keras = "==2.4.3"
numpy = "*"
pandas = "*"
sklearn = "*"
spacy = "*"
mapply = "*"
ipykernel = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.8"
